<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/navigation.css">
    <link rel="stylesheet" href="/productList.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('./includes/navigation.ejs') %>

    <main>
        <% if (prod.length > 0) { %>
        <div class="grid">
        <% for (let product of prod) { %>
            <article class="card">
                <header>
                    <h1 class="product_title"><%= product.item %></h1>
                </header>
                <div>
                    <img src="<%= product.img %>" class="product_img" alt="IMG">
                </div>
                <div>
                    <h2 class="product_price"><%= product.price %> $</h2>
                    <p class="product_description"><%= product.description %></p>
                </div>
                <div class="card_board">
                    <a href="/admin/edit-product/<%= product._id %>" class="abtn">Edit</a>
                    <form action="/admin/delete-product" method="POST">
                        <button type="submit" class="btn">Delete</button>
                        <input type="hidden" value="<%= product._id %>" name="id">
                    </form>
                </div>
            </article>
            <% } %>
            <% } %>
        </div>
    </main>
</body>
</html>